# Domain and SSL
DOMAIN_NAME=domain.name
SUBDOMAIN=n8n
# 📧 Email for Let's Encrypt SSL Certificate
SSL_EMAIL=google@gmail.com


# Traefik dashboard security
# Basic Auth for Traefik Dashboard (generated with htpasswd)
#run this commond and if string me ek $ ho to usko $$ change kar do
# htpasswd -nb admin yourpasswod
TRAEFIK_DASHBOARD_AUTH=admin:$$apr1$$mjerhkKV$$LxgKGSv6cNFZRi.Dx/zfO1
TRAEFIK_LOG_LEVEL=INFO

# n8n security
# Encryption key for credentials
N8N_ENCRYPTION_KEY=your-strong-key-for-credentails-protction
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=supersecurepassword

# n8n logging + options
GENERIC_TIMEZONE=Asia/Kolkata
N8N_LOG_LEVEL=debug
N8N_LOG_OUTPUT=file
N8N_DIAGNOSTICS_ENABLED=false
N8N_PERSONALIZATION_ENABLED=false
N8N_DISABLE_PRODUCTION_MAIN_MENU=true


N8N_VERSION=latest
TRAEFIK_VERSION=latest
